/* src/styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', sans-serif;
}

body {
  background-color: #0a0a0a; /* Noir Profond */
  color: #ffffff;
}